/* BUTTONS */
.buttonMainPage{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    width: 32%;
    height: 100%;
    font-size: 22px; 
    border-radius: 5px; 
    color: aliceblue;     
    background-color: rgb(20, 20, 20);        
}
.buttonMainPage:hover{
    border: 2px solid rgb(207, 207, 207);
}
/* TIMER*/
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    margin-top: 20px;  
    font-size: 24px;
    border-radius: 5px;    
    color: aliceblue;   
    border: 2px solid rgb(150, 150, 150);          
}


@media (max-width: 760px) {    
    .timer{
        width: 40%;
    }
}
@media (max-width: 600px) {  
    .buttonMainPage{
        font-size: 20px; 
    }      
}
@media (max-width: 420px) {  
    .buttonMainPage{
        font-size: 16px; 
    }      
}

