.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;         
    color: aliceblue;
}
.mainTitle{
    margin-top: 5px;    
    font-size: 30px;
    font-weight: 500;
}
.h2Title{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}
.buttonsMainPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;         
    height: 60px;
    margin-top: 75px;
}

@media (max-width: 760px) {
    .wrapper{
        width: 100%;
    }
}